{% if latest_search_list %}
<h3> Popular Searches </h3>
	<ul>
{% for search in latest_search_list %}
	<li><a href="results/{{ search.keywords }}/">{{ search.keywords }}</a></li>
{% endfor %}
</ul>
{% else %}
	<p>No searches are available.</p>
{% endif %}


<form action="." method="post">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Search" />
</form>

{% if keywords %}
	<h3><i>Search results for: </i></h3>
	{% for keyword in keywords %}
 		<i>{{ keyword }}&nbsp;</i>
 	{% endfor %}
{% else %}
	<p> Search for your favorite stuff! </p>
{% endif %}

<br><br>

<table>
{% if flickr_photo_urls %}
	{%  for photo_url in flickr_photo_urls %}
	<tr><td><img src="{{ photo_url }}" alt="Im Age"></img><br></td></tr>
	{% endfor %}
{% endif %}
</table>
